@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #d1cbcb85;
}
.card{
    width: 90%;
    max-width: 500px;
    height: 500px;
    margin: 50px auto 30px;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;

    background-image: url(./Assets/bgd_img.jpg);
    background-size: 100% 100%;
}

.search{
    display: flex;
    width: 100%;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.search input{
    border: 0;
    outline: 0;
    background: transparent;
    border: 3px solid #000000;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 25px;
    text-align: center;
}

.search button{
    border: 0;
    outline: 0;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
}

.search button img{
    width: 30px;
}

.weather-icon{
    width: 80px;
    margin-top: 10%;
}

.weather h1{
    font-size: 50px;
    font-weight: 800px;
}

.weather h2{
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .windy{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 25%;
}

.error{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    display: none;
}

@media screen and (max-width: 1000px) {
    .search input {
        width: 200px;
    }
}

    @media screen and (max-width: 550px) {
        .search input{
            width: 200px;
        }
    }